*{
          margin: none;
          padding: none;
          box-sizing:border-box;
          text-decoration: none;
}
body{
          font-family:'Roboto',sans-serif;
}
.container{
          width: 60%;
          margin: auto;
          text-align: center;
}
button{
          padding: 15px 30px;
          outline:none;
          border: 2px solid #111;
          color: #111;
          font-size: 22px;
          font-weigth: bolder;
          cursor: pointer;
          border-radius: 30px;
          position: flex;
}
button:hover{
          background-color: #111;
          color: #fff;
          transition: .5s ease-in-out;
}
.box{
          height: 400px;
          width: 300px;
          background-color: #fff;
          margin: auto;
          margin-top: 60px;
          font-weight: bolder;
          border-radius:30px;
          line-height: 400px;
          text-align: center;
          box-shadow: rgb(38,57,77) 0px 20px 30px -10px;
}